@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;  
}

header{
    display: flex;
    /* position: fixed; */
    background-color: #363636;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    align-items: center;
    
}
.logo1{
    display: block;
    width: 300px;
    margin-left: 100px;
    margin-top: 52px;
    border-radius: 10px;
}
/* .navigation{
    display: block;
}
.navigation ul{
    display: flex;

}
.navigation li{
    list-style: none;
    margin: 0px 30px;
} 
.navigation li a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;

}
.navigation li a:hover{
    color: #FBD706;
} */
section.baner{
    display: block;
    padding-top: 20vh;
    padding-bottom: 30vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: rgb(0,0,0,0.459);
    background-size: cover;
    background-attachment: fixed;
}
section#img02{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.250) 0%, rgba(0, 0, 0, 0.250) 100%),url('../img/cozinha2.jpeg');
    background-size: cover;
    
} 
/* section > h1{
    padding-bottom: 1.2em;
    font-size: 40px;
} */
.botao{
    background-color: transparent;

    border: 1px solid #FBD706;
    border-radius: 10px;
    
    font-size: 15px;
    font-weight: bold;

    margin-top: 10px;
    width: 140px;
    height: 30px;
    cursor: pointer;
}
.botao1{
    background-color: transparent;
    color: white;

    border: 1px solid #FBD706;
    border-radius: 10px;

    font-size: 15px;
    font-weight: bold;

    margin-top: 10px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.botao:hover{
    background-color: #fbd60657;
    color: white;
}
.botao1:hover{
    background-color: #fbd60657;
}
h1{
    font-size: 2em;
    padding-bottom: 20px;
}
.sobre{
    font-size: 1.1em;
}
section.normal{
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
section.imagem{
    padding-top: 30vh;
    padding-bottom: 30vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: rgb(0,0,0,0.459);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    width: 600px;
    color: white;
    text-align: justify;
    margin: auto;
}
h2{
    text-align: center;
    padding: 10px;
}
.telefone{
    background-color: #FBD706;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
}
section#img01{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%),url('../img/cozinha7.jpeg');
    background-size: cover;
    background-position: center;
}
.texto {
    font-size: 20px;
    color: white;
    margin: auto;
}
.container{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}
h1{
    text-align: center;  
}
.projeto{
    padding: 10px;
    display: flex;
    width: 50%;
    margin: auto;
}


