@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;  
}

header{
    display: flex;
    background-color: #363636;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    align-items: center;
    
}
.logo1{
    display: block;
    width: 300px;
    margin-left: 100px;
    margin-top: 52px;
    border-radius: 10px;
}
section.baner{
    display: block;
    padding-top: 20vh;
    padding-bottom: 30vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: rgb(0,0,0,0.459);
    background-size: cover;
    background-attachment: fixed;
}
.img{
    padding-top: 20px;
    width: 500px;
}
.container-projetista{
    display: flex;
}

.projetista{
    width: 600px;
    margin: auto;
}
.botao-orc{
    background-color: #FBD706;

    border: 1px solid #FBD706;
    box-shadow: 1px 1px 2px #888;
    border-radius: 10px;
    
    font-size: 15px;
    font-weight: bold;

    margin-top: 20px;
    margin-left: 25%;
    
    width: 300px;
    height: 30px;
    cursor: pointer;
}
.botao-orc a {
    color: black;
}
.botao-orc:hover{
    
    border: none;
    background-color: #fbd606cb;
    color: white;
}
section#img02{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.250) 0%, rgba(0, 0, 0, 0.250) 100%),url('../img/cozinha2.jpeg');
    background-size: cover;
    
} 
.botao{
    background-color: transparent;

    border: 1px solid #FBD706;
    border-radius: 10px;
    
    font-size: 15px;
    font-weight: bold;

    margin-top: 10px;
    width: 140px;
    height: 30px;
    cursor: pointer;
}
.botao1{
    background-color: transparent;
    color: white;

    border: 1px solid #FBD706;
    border-radius: 10px;

    font-size: 15px;
    font-weight: bold;

    margin-top: 10px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.botao:hover{
    background-color: #fbd60657;
    color: white;
}
.botao1:hover{
    background-color: #fbd60657;
}
h1{
    font-size: 2em;
    padding-bottom: 20px;
}
.sobre{
    font-size: 1.1em;
}
section.normal{
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
section.imagem{
    padding-top: 30vh;
    padding-bottom: 30vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: rgb(0,0,0,0.459);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    width: 600px;
    color: white;
    text-align: justify;
    margin: auto;
}
h2{
    text-align: center;
    padding: 10px;
}
.telefone{
    background-color: #FBD706;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
}
section#img01{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%),url('../img/cozinha7.jpeg');
    background-size: cover;
    background-position: center;
}
.texto {
    font-size: 20px;
    color: white;
    margin: auto;
}
.container{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}
h1{
    text-align: center;  
}
.projeto{
    padding: 10px;
    display: flex;
    width: 50%;
    margin: auto;
}
.wpp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    
}
.wpp:hover{
    transition: 300ms linear;
    transform: scale(1.1);
}
.fa-whatsapp{
    margin-top: 16px;
    
}
.container-nos{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}
.nos{
    border: 1px solid #FBD706;
    border-radius: 20px;

    margin: auto;
    margin-top: 20px;
    padding: 10px; 

    text-align: center;
    width: 400px;
    font-size: 18px;
}
.txt{
    width: 350px;
}
.maps{
    border: 2px solid #363636;
    width: 355px;
    height: 205px;
    margin: auto;
    margin-top: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

